<div class="card" style="width: 18rem;margin: auto;margin-top: 10%;padding: 5px;">
    <div class="card-body">
      <h5 class="card-title">Login</h5>
<form style="padding: 10px;" (ngSubmit)="efetuarLogin()" [formGroup]="loginForm">
    <div class="form-group">
      <label>CPF </label>
      <input type="text" formControlName="NrCpf" class="form-control" id="NrCpf" placeholder="Digite o CPF">
    </div>
    <div class="form-group">
        <label >Senha</label>
        <input type="text" formControlName="Senha" class="form-control" id="Senha" placeholder="Digite a Senha">
    </div>
    <br>
    <button type="submit" class="btn btn-success">Entrar</button>
  </form>
</div>